body{
    background-color : rgb(20,18,49);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.formBlock {

    width: 100%;
    background-color: rgb(15,14,46);
    height: 200px;
    display: flex;
    justify-content: center;

}


.form{
    display :flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}


.bouton2{
    background-color: rgb(236, 145, 36);
    color: white;
    width: 80px;
    height: 35px;
}


form input{
    margin-top: 10px;
    background-color: rgba(40, 45, 79, 0.757);
    border: none;
    width: 280px;
    height: 30px;
}

.haut{
        display: flex;
        justify-content: space-between;
         background-color: rgb(20, 18, 49);
        }
        
        #montitre{
        font-size: large;
        margin-left: 20%;
        width: 100%;
        display: flex;
        color: aliceblue;
        }
        .acc{
        margin-right: 30px;
        margin-top: 15px;
        color: aliceblue;
        }

.h1{
   
    color: white;
    font-weight: bold;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.acc a{
    text-decoration: none;
    color: white;
}
.fond1{
background-image: url(https://as1.ftcdn.net/v2/jpg/02/38/67/72/1000_F_238677249_c5YBB99scr6fzuYa4lH1Rlj0EwnA3CHW.jpg);
height: 200px;
opacity: 80%;
width: 100%;
    

}

.fond2{
    background-color: rgb(15, 14, 44);
    height: 250px;
}